
.mains p{
    margin: .5rem 2rem .8rem;
  }
  
  
  .area{
    background-color: rgb(255, 255, 255);
    margin:.4rem 1rem;
    border-radius: 4px;
    padding: .4rem;
    box-shadow: 0 0px 4px .6px rgb(216, 216, 216);
  }
  
  .barchart{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(350px , 1fr));
    /* flex-wrap: wrap; */
    width: 100%;
  }
  
  .bar_one{
    background-color: rgb(255, 255, 255);
    margin: 1rem;
    border-radius: 4px;
    padding: .4rem;
    box-shadow: 0 0px 4px .6px rgb(216, 216, 216);
  }
  
  .bar_two{
    background-color: rgb(255, 255, 255);
    margin: 1rem;
    border-radius: 4px;
    padding: .4rem;
    box-shadow: 0 0px 4px .6px rgb(216, 216, 216);
  }

  .card{
  
    margin: 1rem;
    border-radius: 4px;
    padding: .4rem;
   
  }